* {
  margin: 20px;
  text-align: center;
  box-sizing: border-box; /* mke sizing easier  */
}
body {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-auto-rows: minmax( 100px,auto); */
}

.main-container {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 10px;
}

header {
  border: 3px solid black;
  padding: 20px;
  display: grid;
  /* grid-template-columns: ; */
}
.main-container {
  display: grid;
  border: 3px dotted black;
  background-color: whitesmoke;
}
main {
  background-image: url("https://unsplash.com/photos/vA1L1jRTM70");
}
.aside1,
.aside2 {
  border: 1px solid black;
  /* margin: 10px; */
}

.begin:mous {
}
.search-btn:hover {
  background-color: greenyellow;
}
img {
  width: 300px;
  height: 300px;
}
